.App {
  text-align: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 770px;
  height: 450px;
  display: flex;
  align-self: center;
}






